* {
    box-sizing: border-box;
}

body {
    background-color: white; 
}

h1 {
    text-align: center;
}

.homepage {

    .banner {
        background-image: url(../img/beach.jpg);
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .form {
        padding-top: 250px;
        margin: 0 auto; 
        max-width: 250px;

        .btn {
            min-width: 4rem;
        }
    }

    .slogan {
        text-align: center;
        padding: 20px;
        font-size: 1.5rem;

        p {
            margin-top: 4rem;
        }
    }

    .floating {
        font-size: 1.3rem;
        
        img {
            width: 100%;
        }

        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 5rem;
        }
        
        // .middle {
        //     display: flex;
        //     flex-direction: column-reverse;
        // }
    }

    .cards {
        display: flex;


        h1 {
            text-align: center;
        }
    }

    @media all and (min-width: 800px) {
        .form {
            max-width: none;

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80vw;
                margin: 0 auto;
                padding: 15px;

                .formicka {
                    max-width: 15rem;
                }
            }
        }

        .picture {
            width: 100%; 
            overflow: hidden; 

            img {
                transition: transform ease-in-out 300ms;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .middle {
            display: flex;
            flex-direction: row-reverse;
        }

        .cards {
            display: flex;
            flex-direction: row;
            padding-bottom: 2rem;
        }
    }
}
