* {
    box-sizing: border-box;
}

.destination {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    h2,
    p {
        font-family: $font-family-headings;
        margin: 0 45px;
        padding-top: 45px;
    }
}

h2 {
    font-size: $font-size-base * 3;    
}

.destination.spain {
    background-image: url(../img/destinations_spain_1.jpg);
    background-position: 50% 90%;
}

.destination.bali {
    background-image: url(../img/destinations_bali_1.jpg);
    background-position: 50% 75%;
}

.destination.france {
    background-image: url(../img/destinations_france_1.jpg);
    background-position: 50% 70%;
}