
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Poppins");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//style
@import './homepage';
@import './results';
@import './search_show';


.navbar-laravel {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.content {
  min-height: 100vh;
  font-family: $font-family-headings;
}

footer {
  background-color:#263238;
  color:#fff;
  margin-top: 2rem;
  padding-bottom: 5rem;
  max-height: 10rem;

   .row {
    display: flex;
    justify-content: center;
  }

  .copyrights {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      padding: 1rem;
    }
  }

  a {
    color:#fff;  
  }
}
